*{
    text-align: center;
    font-family: arial,sans-serif;
    margin: 0px;
    padding: 0%;
}
body{
    background-color: #f4f4f4;
    background-image: url(WhatsApp\ Image\ 2025-01-10\ at\ 20.26.19_f0c9de4c.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.upper{
    margin: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12%;
}
h1{
    margin-bottom: 20px;
    margin-top: 15px;
    font-size: 40px;
    color: #333;
    font-weight: 800;
    font-style: initial;
    font-family: 'Times New Roman', Times, serif;
}
p{
    font-weight:lighter;
    text-align: center;
}
.login{
    background-color: rgb(252, 251, 251);
    align-items: center;
    height: 400px;
    width: 350px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 9px;
    text-align: center;
    align-items: center; 
}
h4{
    margin-top: 25px;
    font-size: 16px;
    color: #333;
    text-align: left;
    margin-bottom: 5px;
}
input{
    text-align: left;
    font-size: 19px;
    padding: 7px;
    border: 1px solid #ccc;
    width: 95%;

}
#login{
    color: white;
}
a{
    text-decoration: none;
    color: rgb(166, 76, 176);
}
button{
    padding: 10px;
    font-size: 16px;
    background: linear-gradient(to right, #5e2898, #0b4cbe);
    transition: background 0.3s ease;
    color: white ;
    border: none;
    cursor: pointer;
    margin: 24px;
    border-radius: 5px;
    width: 60%;
    text-align: center;
}
button:hover{
    background-color: #0056b3;
}
button:active{
    transition: button 5s ease;
}