body{
  font-family: Arial, sans-serif;
  margin: 0px;
  padding: 0px;
 background-color:#b8ebf8;
}
body:hover{
  background-image:url(kcc4.png) ;
  background-repeat: no-repeat;
  background-size: cover;
}
.dashboard{
  display: flex;
  height: 100vh;
}
.sidebar{
  width: 60px;
  background-color: #344593;
  color: white;
  transition: width 0.3s ease;
  overflow: hidden;
  position: relative;
} 
.sidebar:hover{
  width: 400px;
}
.menu-toggle{
  padding-top: 30px;
  padding: 20px;
  text-align: center;
  font-size: 24px;
  cursor: pointer;
}
.sidebar-content{
  padding: 20px;
}
.sidebar.expanded,.sidebar-content{
  display: block;
}
.sidebar-content ul{
  list-style: none;
  text-align: center;
  padding: 9px;
}
.sidebar-content ul li{
  padding: 10px 0;
  margin: 30px;
  font-size: 22px;
  cursor: pointer;
  transition: background 0.3s ease;
}
.sidebar-content ul li:hover{
  background-color:#192e42;
  border-radius: 10px;
  color: rgb(202, 95, 202);
  transition: text o.5s ease;
}
/*main-dash*/
.main-dash{
  flex-grow: 1;
  padding: 20px;
}
.main-dash h1{
  font-style:initial;
  font-size: 40px;
  font-weight: bolder;
  font-family: 'Times New Roman', Times, serif;
  color:black;
  margin: 0;
  text-align: center;
  padding-bottom: 20px;
}
.main-dash h3{
  font-style:initial;
  font-size: 30px;
  text-decoration: underline;
  font-weight: bolder;
  color: #21262b;
  margin: 0;
  margin-bottom: 20px;
  text-align: center;
  padding-bottom: 20px;
}
.grid-container{
  display: grid;
  grid-template-columns: repeat(3,1fr );
  grid-auto-rows: 280px;
  gap: 20px;
}
.grid-container.box:nth-child(4),
.grid-container.box:nth-child(5){
  grid-column: span 2;
}
p{
  text-align: end;
}
.BOX{
  font-size: 25px;
  border-radius: 10px;
  transition: transform 0.5s ease;
  display: flex;
  color: black;
  font-weight: bold;
  align-items: center;
  border: 1px solid black;
  justify-content: center;
  width: 80%;
  margin: 25px;
  background-color:rgb(107, 148, 252);
  box-shadow: 0 6px 8px ;
}
#b1:active{
  background-image: url(std.jpg);
  background-size: cover;
  
}
#b2:active{
  background-image: url(teacher.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
#b3:active{
  background-image: url(campus.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
#b4:active{
  background-image: url(library.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
#b5:active{
  background-image: url(fee.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
#b6:active{
  background-image: url(course.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.BOX:hover{
  background-color: #34495e;
  cursor: pointer;
  color: #ffffff;
  font-size: 35px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
  background-image:none;

}
.BOX:active{
  transition: transform 0.5s ease-in-out;
  color: aquamarine;
  box-shadow: 0 6px 8px ;
  background-color: white;
}