/* Global Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #a8e1ef;
    color: #333;
  }
  
  header {
    background-color: #004080;
    color: white;
    text-align: center;
    padding: 20px;
    box-shadow: 0 5px 13px rgba(0, 0, 0, 0.7);
  }
  
  header h1 {
    margin: 0;
    font-size: 2.5rem;
  }
  
  header p {
    margin: 5px 0 0;
    font-size: 1.2rem;
  }
  
  section {
    padding: 20px;
    margin: 20px auto;
    background: rgb(243, 240, 240);
    border-radius: 8px;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.5);
    width: 90%;
    max-width: 800px;
  }
  
  section h2 {
    border-bottom: 2px solid #004080;
    padding-bottom: 5px;
    font-size: 35px;
    margin-bottom: 15px;
    color: #004080;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  ul li {
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
  }
  
  .image-section {
    text-align: center;
    margin: 15px 0;
  }
  
  .image-section img {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .image-section p {
    margin-top: 10px;
    font-weight: bolder;
    font-size: 32px;
    color: #444;
  }
  
  footer {
    text-align: center;
    background: #004080;
    color: white;
    padding: 10px 0;
    margin-top: 20px;
    font-size: 0.9rem;
  }